[submodule "Projetos_C#/Projeto_Fundamentos"]
	path = "Projetos_C#/Projeto_Fundamentos"
	url = git@github.com:Matheus-Repizo/trilha-net-fundamentos-desafio.git
	branch = main
[submodule "Projetos_Git_Github/Projeto_OpenSource/dio-lab-open-source"]
	path = Projetos_Git_Github/Projeto_OpenSource/dio-lab-open-source
	url = git@github.com:Matheus-Repizo/dio-lab-open-source.git
	branch = feat/community/Matheus-Repizo
[submodule "Projetos_C#/Projeto_Fundamentos2"]
	path = "Projetos_C#/Projeto_Fundamentos2"
	url = git@github.com:Matheus-Repizo/trilha-net-explorando-desafio.git
	branch = main
